TTLOCK_CLIENT_ID=
TTLOCK_CLIENT_SECRET=
TTLOCK_USERNAME=
# MD5 en minúsculas de la contraseña de la cuenta TTLock
TTLOCK_PASSWORD_MD5=
TTLOCK_API_BASE=https://euapi.ttlock.com
PUBLIC_BASE_URL=http://localhost:8000
ADMIN_API_KEY=change-me
HOTEL_NAME=Hotel
